<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="head(title, extraCss, extraJs)">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title th:text="${title}">Application</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/site.css}" />

  <link rel="stylesheet" th:if="${extraCss != ''}" th:href="${extraCss}"/>
  <script th:if="${extraJs != ''}" th:src="${extraJs}"></script>
</head>

<body>
  <header th:fragment="header">
    <div class="site-header">
      <div class="container">
        <nav class="site-nav" role="navigation">
          <a th:href="@{/}">Home</a>
          <a th:href="@{/contact}">Contact</a>
<!--          <a th:href="@{/chat}">Chat</a>-->
<!--          <a th:href="@{/batch_simple}">Batch Simple</a>-->
<!--          <a th:href="@{/batch}">Batch</a>-->
          <a th:href="@{/async}">Async</a>
        </nav>
      </div>
    </div>
  </header>
</body>
</html>
